
dynamic_tunnels/Frames/

dynamic_tunnels/found_tunnels/

dynamic_tunnels/rrt

dynamic_tunnels/runtime_stats\.txt

analysis/3_4_2017/

analysis/found_tunnels/

analysis/config\.txt\.save

visualization/

dynamic_tunnels/computed_at_night/

*.pdb

*.swp

*.txt

analysis/caver_tunnels/

analysis/caver_tunnels_database/

analysis/old_stuff/

analysis/already_computed/

jankovec/

jd/

analysis/stats

analysis/stats_ThresholdNCointDepndatnt

analysis/relevant/

dynamic_tunnels_copy#1/

pymol_sessions/

dynamic_tunnels_copy#2/

dynamic_tunnels \(another copy\)/

dynamic_tunnels \(copy\)/
